<form action="/posts/{{post._id}}/comments" method="post">
   <textarea class='form-control' name="content" placeholder="Comment"></textarea>
   <div class="text-right">
     <button type="submit">Save</button>
   </div>
 </form>
